{% extends "layouts/layout.html" %}

{%block title %}
{{title}}
{% endblock %}

{% block body %}
<br>
<br>
    <!-- Agrega un elemento canvas para el gráfico -->
    <canvas id="actividadesChart" width="400" height="200"></canvas>

    <script>
        // Obtén los datos desde el backend
        var data = JSON.parse('{{ data|safe }}');

        var cuadrillas = data.map(function(item) {
        return item.cuadrilla;
    });

    var actividadesCount = data.map(function(item) {
        return item.actividades_count;
    });

    // Crea el gráfico
    var ctx = document.getElementById('actividadesChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: cuadrillas, 
            datasets: [{
                label: 'Número de Actividades',
                data: actividadesCount,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2
            }]
        },
        options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        
        plugins: {
            legend: {
                labels: {
                    font: {
                        family: 'Verdana', 
                        size: 14,
                    }
                }
            }
        }
    }
});
    </script> 
{% endblock %}